@use 'variables' as v;
@use 'sass:color';
@use 'mixins' as m;
@use 'placeholders';

.mobile-navigation__burger-icon {
    width: 50px;
}

.mobile-navigation {
    display: none;

    &__burger {
        @include m.position(absolute, 10, -1, top, right, 13px, 20px);

        &-icon {
            width: 33px;
            height: 22px;
            fill: v.$color_white;
            @extend %hover-black-icon;
        }
    }

    &__toggler {
        display: none;

        &:checked+.nav {
            translate: 0;
        }
    }

    .nav {
        padding: 100px 70px 0;
        @include m.position(fixed, 999, 0);
        background-color: color.adjust(v.$color_black, $alpha: -0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        translate: 100% 0;
        transition: translate .22s;

        &__list {
            @include m.d-flex(start, start, nowrap, column, 0, 20px);

            &-item {
                &-link {
                    @include m.font(36px, 400, v.$color_white);
                    text-shadow: 2px 2px 5px rgba(0, 0.0, .3);
                }
            }

        }
    }

    @media (max-width: v.$media_md) {
        display: block;
    }

    &__cross {
                @include m.position(absolute, 10, -1, top, right, 18px, 23px);

                &-icon {
                    width: 25px;
                    height: 22px;
                    stroke: white;
                     @extend %hover-black-icon;
                }
            }
}

// .mobile-navigation__cross-icon {
//     @include m.position(absolute, 10, -1, top, right, 13px, 20px);
//     width: 25px;
//     height: 22px;
//     stroke: white;

// }